.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #EDF4F7;
}

input[type="number"], input[type="text"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #1a2a36;
    border-radius: 4px;
    background-color: #36546b;
    color: #EDF4F7;
  }

input:focus {
    border-color: #007bff;
    outline: none;
}

::ng-deep .input-conainer input::placeholder {
    color: rgba(237, 244, 247, 0.6);
}

input[type="text"] {
width: auto;
}