<form (ngSubmit)="onSubmit()">
    <app-input label="Serial Number: " type="text" placeholder="Digite o serial number" [(ngModel)]="product.serialNumber" name="serialNumber"></app-input>
  
    <app-input label="Nome do produto: " type="text" placeholder="Digite o nome do produto" [(ngModel)]="product.name" name="name"></app-input>

    <app-input label="Descrição do produto: " type="text" placeHolder="Digite a descrição do produto" [(ngModel)]="product.description" name="description"></app-input>
  
    <app-input label="Preço" type="number" placeholder="Digite o preço" [(ngModel)]="product.price" name="price"></app-input>
  
    <button type="submit">Cadastrar Produto</button>
  </form>
  